.container { 
    background: gray; 
   height: 50px;
   }
   .footer { 
    background: gray; 
   height: 30px;
   }

   .header { 
    background: gray; 
   height: 50px;
   }
   
   .body {
    min-height: 66vh;
    height: auto;      
    display: flex;    
    flex-direction: column; 
    }
    .row{
        margin-left: 0px;
    }

